.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.global-card {
    background-color:#014711;
    color: white;
}   

.burger-card {
    max-width: 400px;
    margin: 1%;
  }

.example-header-image {
    background-image: url('https://img.bfmtv.com/c/700/698/3fa/72bc55c499738715cb3d2dcbef70c.png');
    background-size: cover;
}
